<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>f28749_11-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,0},{28,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,26}}</string>
        <key>sourceSize</key>
        <string>{28,26}</string>
      </dict>
      <key>f28749_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,27},{52,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,79}}</string>
        <key>sourceSize</key>
        <string>{52,79}</string>
      </dict>
      <key>f28749_12-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,0},{28,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,27}}</string>
        <key>sourceSize</key>
        <string>{28,27}</string>
      </dict>
      <key>f28749_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,27},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
      <key>f28749_13-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{28,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,27}}</string>
        <key>sourceSize</key>
        <string>{28,27}</string>
      </dict>
      <key>f28749_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,27},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
      <key>f28749_14-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{28,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,27}}</string>
        <key>sourceSize</key>
        <string>{28,27}</string>
      </dict>
      <key>f28749_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,27},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
      <key>f28749_15-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{28,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,27}}</string>
        <key>sourceSize</key>
        <string>{28,27}</string>
      </dict>
      <key>f28749_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
      <key>f28749_16-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{28,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,27}}</string>
        <key>sourceSize</key>
        <string>{28,27}</string>
      </dict>
      <key>f28749_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,109},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
      <key>f28749_17-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>f28749_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,109},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
      <key>f28749_18-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{28,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,27}}</string>
        <key>sourceSize</key>
        <string>{28,27}</string>
      </dict>
      <key>f28749_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,109},{52,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,82}}</string>
        <key>sourceSize</key>
        <string>{52,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>drink.png</string>
      <key>textureFileName</key>
      <string>drink.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>