temp/quick-scripts/dst/assets/script/scripts/Level-29086_control.js
temp/quick-scripts/dst/__qc_bundle__.js
temp/quick-scripts/dst/__quick_compile__.js
temp/quick-scripts/src/assets/script/scripts/Level-29086_control.js
/temp/
/library/
/local/
assets/PSD
assets/PSD.meta
skills-lock.json
